.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
scripts.Rproj
make_hfe_files.R
ml_short_test.R
betaDiversity_SCFA.R
dietM_h2o.R
old_hfe_crc_reformat.R
perimary_vs_secondary.R
prepare_food_tree_for_hfe.R
toy_example.R
renv/
*.pdf
.DS_Store
prepare_foodtree_for_hfe.R
shuffle_data.R
renv_no_heatmaply.lock
renv_original.lock
after_github_push_easy.sh
models/ml_blast_test.R
models/dietML_glmnet.R
models/dietML_ranger.R
taxaHFE/microbial_HFE.R
general_outline.afdesign
playground.R
taxaHFE/hfe_run.sh
taxaHFE/comparisons/ml_comparisons.txt
.bash_history
